<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true" bootstrap="vendor/autoload.php" cacheResult="false">
    <testsuites>
        <testsuite name="App Tests">
            <directory phpVersion="7.4.0" phpVersionOperator=">=" suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
